<div class="searchBar"> 
    <form method="POST" action="/search"> 
        <input type="text" name="text-to-test" id="search" placeholder="Find anything"/>
        <button type="submit"class="btn btn-danger">Search</button> 
    </form>
</div>

<div class="row-fluid"></div>     
    <div class="card-deck">
    {{# each content}}
        <div class="col-sm-4">
        <div class="card-columns-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{this.productName}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    {{!-- <a href='/listingDetail?id=' + {{this._id}}) class="btn btn-danger" id="likeID">Buy</a> --}}
                    <a href='' onclick="this.href='/listingDetails?id={{this._id}}'" class="btn btn-danger" id="likeID">Buy</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{this.category}}</small>
                </div>
            </div>
        </div>
        </div>
    {{/each}}
    </div>
</div>

<div class="shuffleMe"> 
<a href="/home" class="btn btn-danger">Shuffle Items</a> 
</div>
     
