<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
<h1 class="my-0 mr-md-auto font-weight-normal">Stevens Marketplace</h1>

<nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/home">Home</a>
    <a class="p-2 text-dark" href="/newListing">New Listing</a>
    <a class="p-2 text-dark" href="/cart">Cart</a>
    <div class="dropdown">
        <button class="dropbtn"><img src = "../../public/images/profile icon.jpg"  width="25" height="25" alt ="Profile"></button>
        <div class="dropdown-content">
        <a href="/profile">Your profile</a>
        <a href="/yourListings">Your listings</a>
        </div>
    </div>

</nav>
<a class="btn btn-outline-danger" href="/logout">Logout</a>

</div>
<div class="jumbotron">
  <h1 class="display-4">Search Results for: {{this.search}}</h1>
</div>
<div class="searchResults">
    <h2 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">What we found: </span>
      <span class="badge badge-secondary badge-pill">{{results.length}}</span>
    </h2>
    <ul class="list-group mb-3">

      {{# each results}}
      <a href="" onclick="this.href='/listingDetails?id={{this._id}}'" class="searchLinks">
      <ul class="list-group">
        <li class="list-group-item">
            <div>
              <h3 class="my-0">{{this.productName}}</h3>
              <small class="text-muted">{{this.description}}</small>
            </div>
        <span class="text-muted">${{this.price}}</span>
        </li>
      </ul>
      </a>

      {{/each}}
    </ul>

    <a href="/home" class="btn btn-danger">Look for something else</a> 
</div>