<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
<h1 class="my-0 mr-md-auto font-weight-normal">Stevens Marketplace</h1>
<nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/home">Home</a>
    <a class="p-2 text-dark" href="/newListing">New Listing</a>
    <a class="p-2 text-dark" href="/cart">Cart</a>
    <div class="dropdown" context>
        <button class="dropbtn"><img src = "../../public/images/profile icon.jpg"  width="25" height="25" alt ="Profile"></button>
        <div class="dropdown-content">
        
        <a href="/profile" aria-label="your profile">Your Profile</a>
        <a href="/yourListings" aria-label="your listings">Your listings</a>
        </div>
    </div>

</nav>
<a class="btn btn-outline-danger" href="/logout">Logout</a>

</div>
<table>
    <tr>
        <td>
            <section>
                <div class="container">
                    <img src="{{productData.image}}" class= "productImage" onerror="this.src='../../public/images/none.png'" alt="Product Image"/>
                    <p>
                        {{productData.productName}}
                    </p>
                    <p>
                        Category: {{productData.category}}
                    </p>
                    <p>
                        {{productData.description}}
                    </p>
                    <p> 
                        ${{productData.price}}
                    </p>
                    <a href='' onclick="this.href='/cart?id={{productData._id}}'" class="btn btn-danger" id="likeID">Add to cart</a>
                    {{#if favorite}}
                        <img id="likeBtn" src="../../public/images/heart.png" alt="Liked" onclick="likeClicked(this, '{{productData._id}}')"/>
                    {{else}}
                        <img id="likeBtn" src="../../public/images/heart-outline.png" alt="Not liked" onclick="likeClicked(this, '{{productData._id}}')"/>

                    {{/if}}

                    <form id="new-comment-form">
                        <label for="new-comment-text">
                            New Comment:
                        </label>
                        <input id="new-comment-text" type="text" placeholder="awesome!" /></label>
                        <button type="submit">Add Comment!</button>
                    </form>

                    <h2>Comments: </h2>
                    <div id="comments-area">
                        {{#each productData.comments}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>

                    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
                    <script src="../../public/js/listingDetails.js"></script>
                </div>
            </section>
        </td>

    </tr>
    
</table>
