<table>
    <tr>
        <td>
            <section>
                <div class="container">
                    <img src="{{productData.image}}" class= "productImage" onerror="this.src='../../public/images/none.png'"/>
                    <p>
                        {{productData.productName}}
                    </p>
                    <p>
                        {{productData.description}}
                    </p>
                    <p> 
                        ${{productData.price}}
                    </p>
                      <a href='' onclick="this.href='/cart?id={{productData._id}}'" class="btn btn-danger" id="likeID">Add to cart</a>
                   
                </div>
            </section>
        </td>

    </tr>
    
</table>

