<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
<h1 class="my-0 mr-md-auto font-weight-normal">Stevens Marketplace</h1>

<nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/home">Home</a>
    <a class="p-2 text-dark" href="/newListing">New Listing</a>
    <a class="p-2 text-dark" href="/cart">Cart</a>
    <div class="dropdown">
        <button class="dropbtn"><img src = "../../public/images/profile icon.jpg"  width="25" height="25" alt ="Profile"></button>
        <div class="dropdown-content">
        <a href="/profile">Your profile</a>
        <a href="/yourListings">Your listings</a>
        </div>
    </div>

</nav>
<a class="btn btn-outline-danger" href="/logout">Logout</a>

</div>
<div>



{{#each yourListings}}
    <div class = "listing">

    {{#with this}}
        <p>Product Name: {{productName}}</p>
        <p>Category: {{category}}</p>
        <p>Description: {{description}}</p>
        <p>Price: {{price}}</p>
        <img src="{{image}}" height="300" width="400" class= "productImage" onerror="this.src='../../public/images/none.png'" alt="no image"/>       
        <p>Date Posted: {{postedData}}</p>

        <a href='' onclick="this.href='/editListing?id={{_id}}'" class="btn btn-danger" id="likeID">Edit</a>

    {{/with}}

    </div>

{{/each}}


