<p class = "profile">Your Listings<p>
{{#each yourListings}}
    <div class = "listing">

    {{#with this}}
        <p>Product Name: {{productName}}</p>
        <p>Category: {{category}}</p>
        <p>Description: {{description}}</p>
        <p>Price: {{price}}</p>
        <img src="{{image}}" height="300" width="400" class= "productImage" onerror="this.src='../../public/images/none.png'"/>       
         <p>Date Posted: {{postedData}}</p>

    {{/with}}

    </div>

{{/each}}
